@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

:root {

    /* Colors */

    --primary-color: #3A3A3A;
    --secondary-color: #6C6C6C;
    --product-title-color: #18191F;
    --product-price-color: rgba(0, 0, 0, 0.87);
    --product-rate-color: #5E6366;
    --product-desc: #787885;
    --star-rating: #FB8200;
    --button-bg: #E02C6D;
    --button-text: #fff;
    --box-shadow: rgba(225, 28, 28, 0.15);
    --a-hover: #E02C6D;
    --footer-bg: #0A0826;

    /* Fonts */

    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Inter', sans-serif;

    --normal-font-size: 16px;
    --h2-h5: 24px;
    --h3-h4-size: 28px;
    --p-margin: 15px 0px 30px 0px;
    --semi-bold: 600;
    --bold: 700;
}

/* Common CSS */

header,
main {
    max-width: 1200px;
    margin: 0px auto;
}

h1 {
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-weight: var(--bold);
    font-size: 52px;
    line-height: 1.5em;
}

h2 {
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-weight: var(--bold);
    font-size: var(--h2-h5);
}

h3 {
    color: #3A3A3A;
    font-family: var(--primary-font);
    font-weight: var(--semi-bold);
    font-size: var(--h3-h4-size);
    line-height: 1.5em;
}

h4 {
    color: var(--product-price-color);
    font-size: var(--h3-h4-size);
    font-family: Poppins;
    font-weight: 500;
    line-height: 1.2em;
    margin-top: 15px;
}

h5 {
    color: var(--product-price-color);
    font-size: var(--h2-h5);
    font-family: var(--secondary-font);
    font-weight: 400;
    line-height: 1.2em;
    margin: 10px 0px;
}

p {
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: var(--normal-font-size);
    margin: var(--p-margin);
    font-weight: var(--semi-bold);
}


ul>li,
.navIcon {
    list-style: none;
    margin-left: 35px;
}

ul li a {
    font-size: var(--normal-font-size);
    font-family: var(--primary-font);
    color: var(--primary-color);
    font-weight: var(--semi-bold);
}

a:hover {
    color: var(--a-hover);
}

button {
    color: var(--button-text);
    background-color: var(--button-bg);
    font-family: var(--primary-font);
    font-size: var(--normal-font-size);
    padding: 15px 25px;
    border: 0px;
    cursor: pointer;
    font-weight: var(--semi-bold);
}

.ar {
    margin-left: 5px;
}

/* Other CSS */

header {
    padding-top: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    margin-top: 100px;
}

ul {
    display: flex;
    align-items: center;
}

.btn {
    border-radius: 50px;
}



/* Banner */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
}

.banner-img {
    position: relative;
}

.img2 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 90%;
    height: 90%;
}

.img1 {
    z-index: 1;
}

.img2 {
    z-index: 2;
}

/* Client */

.clients {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(90deg, rgba(192, 204, 218, 0.10) 0%, rgba(192, 204, 218, 0.60) 50%, rgba(192, 204, 218, 0.10) 100%);
    border-image-slice: 1;
    padding: 40px;
    box-sizing: border-box;
}

.client-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Products */

.popular-section-title h3 {
    text-align: center;
    margin-bottom: 30px;
}

.popular-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.popular-item {
    background-color: #fff;
    box-shadow: var(--box-shadow);
    padding: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
    border-radius: 5px
}

.popular-item img {
    width: 100%;
}

.product-desc {
    color: #787885;
    font-size: 14px;
    font-family: var(--secondary-font);
    font-weight: var(--bold);
    line-height: 1.5em;
    letter-spacing: 0.25px;
}

.fa-star,
.fa-star-half-stroke {
    color: var(--star-rating);
    font-size: 14px;
}

.product-rate {
    color: var(--product-rate-color);
    font-size: 14px;
    font-family: var(--secondary-font);
    font-weight: var(--bold);
    letter-spacing: 0.10px;
    margin-left: 5px;
}

.see-more {
    color: rgba(224.19, 43.90, 108.81, 0.87);
    font-size: var(--normal-font-size);
    font-family: var(--primary-font);
    font-weight: var(--bold);
    text-align: right;
    margin-top: 50px;
}

.see-more a {
    color: #E02C6D;
}

/* Feature */

.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.features img {
    width: 100%;
}

.feature-content h2 {
    color: #0A0826;
    font-size: 38px;
    font-family: var(--primary-font);
    font-weight: var(--bold);
    line-height: 1.5em;
}


/* Footer */

footer {
    background-color: var(--footer-bg);
    padding: 50px;
    text-align: center;
    margin-top: 100px;
}

footer h6 {
    color: var(--button-text);
    font-size: 24px;
    font-family: var(--primary-font);
    font-weight: var(--bold);
}

.copyright {
    color: #D9DBE1;
    font-size: 14px;
    font-family: var(--secondary-font);
    font-weight: var(--bold);
    line-height: 2em;
    margin: 5px 0px 15px 0px;
}

.footer-socials i {
    color: var(--button-text);
    margin: 18px 15px 0px 15px;
    font-size: 18px;
}


/* Responsive */

@media screen and (max-width:576px) {

    nav {
        flex-direction: column;
    }    

}